.total-container{
    width:95%;
    margin:1px auto;
}
.text-center{
    color: #17a2b8;
    padding-bottom: 1%;
}
.block-heading{    
    text-align: center;
    width: 35%;
    margin: auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    color: #000;
    border:2px solid #000;
}
.total-container-report{
    width:95%;
    margin:1px auto;
    padding-bottom: 2%;
}
.inner-head{
    margin:1%;
    
}
.block-heading-observation{
    text-align: center;
    width: 45%;
    margin: auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    color: #000;
    border:2px solid #000;
}
.observations-class{
    padding-top: 5%;
    margin:auto;
}