<form  name="observationsForm"   #observationsForm="ngForm"  (ngSubmit)="saveRightVentricleData()"    >
  <div class="observe">
   <div id="container">
     <h3 class="head-title"> Type: Right Ventricle </h3> 

     <div class="total-container">
       
       <div class="form-row">
             <div class="form-group col-md-4"   >
              <label>Cavity Size </label>               
                <select [(ngModel)]="updform.selectCavity_Size" name="selectCavity_Size" placeholder="select" 
                (ngModelChange)="onOptionsSelected('Cavity_Size',updform.selectCavity_Size)" class="form-control" >
                   <option  [ngValue]="undefined"> Not Applicable(N/A)</option>
                   <option *ngFor="let sta of cavitySize" [ngValue]="sta.itemName">{{sta.itemName}}</option>
               </select>

             </div>
             <div class="form-group col-md-4"    >
              <label>Wall Thickness </label>
              <select [(ngModel)]="updform.selectWall_Thickness" name="selectWall_Thickness" placeholder="select"                  
              (ngModelChange)="onOptionsSelected('Wall_Thickness',updform.selectWall_Thickness)" class="form-control">
              <option  [ngValue]="undefined">Not Applicable(N/A)</option>
               <option *ngFor="let sta of wallThickness" [ngValue]="sta.itemName">{{sta.itemName}}</option>
               </select>
             </div>

             <div class="form-group col-md-4">
              <label>Global Systolic Function</label>
              <select [(ngModel)]="updform.selectGlobal_Systolic_Function" name="selectGlobal_Systolic_Function" placeholder="select" 
              (ngModelChange)="onOptionsSelected('Global_Systolic_Function',updform.selectGlobal_Systolic_Function)" class="form-control">
              <option  [ngValue]="undefined"> Not Applicable(N/A)</option>
              <option *ngFor="let sta of globalSystolicFunction" [ngValue]="sta.itemName">{{sta.itemName}}</option>
              </select>
    
              </div>  

       </div>
    
       <div class="form-row" style="text-align: center; border-top:1px solid #f0f0f0; padding-top:1% "
                 >
         <div class="form-group col-md-12">
           <label class="head-title">Segment Wall Analysis</label>               
         </div>                                                    
       </div>

       <div class="form-row"  >
        <div class="form-group col-md-4">
          <label>Segment Wall Analysis</label>            
          <select [(ngModel)]="updform.selectSegment_Wall_Analysis" name="selectSegment_Wall_Analysis" placeholder="select" 
          (ngModelChange)="onOptionsSelected('Segment_Wall_Analysis',updform.selectSegment_Wall_Analysis)" class="form-control">
          <option  [ngValue]="undefined">Not Applicable(N/A)</option>
          <option *ngFor="let sta of segmentWallAnalysis" [ngValue]="sta.itemName">{{sta.itemName}}</option>
          </select>

        </div>   

        <div class="form-group col-md-4">
          <label>Segment Wall Analysis : Free Wall</label>            
          <select [(ngModel)]="updform.selectSegment_Wall_Analysis_Free_Wall" name="selectSegment_Wall_Analysis_Free_Wall" placeholder="select" 
          (ngModelChange)="onOptionsSelected('Segment_Wall_Analysis_Free_Wall',updform.selectSegment_Wall_Analysis_Free_Wall)" class="form-control">
          <option  [ngValue]="undefined">Not Applicable(N/A)</option>
          <option *ngFor="let sta of segmentWallAnalysisFreeWall" [ngValue]="sta.itemName">{{sta.itemName}}</option>
          </select>

        </div> 

        <div class="form-group col-md-4">
          <label>Segment Wall Analysis : Septum </label>            
          <select [(ngModel)]="updform.selectSegment_Wall_Analysis_Septum" name="selectSegment_Wall_Analysis_Septum" placeholder="select" 
          (ngModelChange)="onOptionsSelected('Segment_Wall_Analysis_Septum',updform.selectSegment_Wall_Analysis_Septum)" class="form-control">
          <option  [ngValue]="undefined">Not Applicable(N/A)</option>
          <option *ngFor="let sta of segmentWallAnalysisSeptum" [ngValue]="sta.itemName">{{sta.itemName}}</option>
          </select>

        </div> 

     </div>

     <div class="form-row" >

      <div class="form-group col-md-4" *ngIf="updform.selectSegment_Wall_Analysis_Septum === 'Septum-Other (Specify)'">
        <label>Segment Wall Analysis : Septum : Other </label>            
        <input type="text" id="segment_Wall_Analysis_Septum_Other_Value" name="segment_Wall_Analysis_Septum_Other_Value" class="form-control"                 
        placeholder="Other (Specify) Value" [(ngModel)]="updform.segment_Wall_Analysis_Septum_Other_Value" 
        #segment_Wall_Analysis_Septum_Other_Value="ngModel"  >
      </div>   

      <div class="form-group col-md-4"  >
        <label>Segment Wall Analysis : Apex</label>            
        <select [(ngModel)]="updform.selectSegment_Wall_Analysis_Apex" name="selectSegment_Wall_Analysis_Apex" placeholder="select" 
        (ngModelChange)="onOptionsSelected('Segment_Wall_Analysis_Apex',updform.selectSegment_Wall_Analysis_Apex)" class="form-control">
        <option  [ngValue]="undefined">Not Applicable(N/A)</option>
        <option *ngFor="let sta of segmentWallAnalysisApex" [ngValue]="sta.itemName">{{sta.itemName}}</option>
        </select>

      </div>   

   </div>

   <div class="form-row"   style="border-top:1px solid #f0f0f0; padding-top:1%">  
    <div class="form-group col-md-4">
      <label>Miscellaneous</label>            
      <select [(ngModel)]="updform.selectMiscellaneous" name="selectMiscellaneous" placeholder="select" 
      (ngModelChange)="onOptionsSelected('Miscellaneous',updform.selectMiscellaneous)" class="form-control">
      <option  [ngValue]="undefined">Not Applicable(N/A)</option>
      <option *ngFor="let sta of miscellaneous" [ngValue]="sta.itemName">{{sta.itemName}}</option>
      </select>

    </div>   
    
 </div>


 <div id="overlay">
  <div class="loader"></div>
   
</div> 

  
 <div class="form-row" >
  <div class="form-group col-md-2" ></div>
  <div class="form-group col-md-2" >
    <button type="button" class="btn btn-warning  btn-block" onclick="$('#tabtwo').trigger('click')" 
    (click)="getAddPage('left VentricalObservation')"  >Previous</button>
  </div>
  <div class="form-group col-md-2" >
    <button type="submit" class="btn btn-primary  btn-block" id="btnSubmit" >Submit</button>
  </div>
  <div class="form-group col-md-2" >
    <button type="button" class="btn btn-danger  btn-block" onclick="$('#tabfour').trigger('click')" 
    (click)="getAddPage('leftAtriumObservation')"  >Next</button>
  </div>
  <div class="form-group col-md-4" ></div>
</div> 
 
     </div>

     </div>
   
 </div>

  
   </form>
  
 