<app-nav></app-nav>
<!-- <app-sidenav></app-sidenav> -->
<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid xyz">
     <div class="row">
        <div class="col-lg-12">
         
          <div class="patient-form">
            <form name="viewpatientForm" #viewpatientForm="ngForm" (ngSubmit)="updatePatient()"  >
                <h2 class="text-center">Patient Form</h2>
        
                <div class="form-row">
        
                  <div class="form-group col-md-4">
                    <label for="requirement">Requirement</label>
                    <!-- <input type="text" id="requirement" name="requirement" class="form-control"  
                    required [(ngModel)]="patientDataObject['requirement']" #requirement="ngModel" placeholder="Requirement " > -->

                    <select id="requirement" name="requirement" class="form-control" required [(ngModel)]="patientDataObject['requirement']"
                    #requirement="ngModel"  >
                     <option value="">Select Requirement</option>
                       <option *ngFor="let req of requirements" [value]="req">{{req}}</option>
                 </select>

                    <div *ngIf="requirement.invalid && (requirement.dirty || requirement.touched)" class="alert alert-danger">
                      <div *ngIf="requirement.errors.required">
                        Requirement Field is required.
                      </div>
                      </div>
                </div>
        
                  <div class="form-group col-md-4">
                    <label for="reportbase">Report Base</label>
                    <input type="text" id="reportbase" name="reportbase" class="form-control"  
                    required [(ngModel)]="patientDataObject['reportbase']" #reportbase="ngModel" placeholder="Report Base " >

                    <div *ngIf="reportbase.invalid && (reportbase.dirty || reportbase.touched)" class="alert alert-danger">
                      <div *ngIf="reportbase.errors.required">
                        Report Base Field is required.
                      </div>
                      </div>
                  </div>
        
                    <div class="form-group col-md-4">
                        <label for="patientname">Patient Name</label>
                      <input type="text"  id="patientname" name="patientname" class="form-control"  
                      required [(ngModel)]="patientDataObject['patientname']" #patientname="ngModel" placeholder="Patient Name " >            

                      <div *ngIf="patientname.invalid && (patientname.dirty || patientname.touched)" class="alert alert-danger">
                        <div *ngIf="patientname.errors.required">
                          Patient Name is required.
                        </div>
                        </div>

                    </div>
                    
                  </div>
        
                  <div class="form-row">
        
                    <div class="form-group col-md-4">
                      <label for="gender" >Gender</label>
                      <div>
                          <label class="radio-inline">
                              <input type="radio" name="gender" id="gender" value="Male" 
                              required [(ngModel)]="patientDataObject['gender']" #gender="ngModel" >
                              Male
                          </label> &nbsp;
                          <label class="radio-inline">
                              <input type="radio" name="gender" id="gender" value="Female" 
                              required [(ngModel)]="patientDataObject['gender']" #gender="ngModel" >
                            Female
                          </label>
                        </div>    

                        <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="alert alert-danger">
                          <div *ngIf="gender.errors.required">
                            Gender is required.
                          </div>
                          </div>

                  </div>
                  <div class="form-group col-md-4">
                    <label for="dob">Date Of Birth </label>
                    <input type="date"  id="dob" name="dob" class="form-control"  placeholder="DOB " 
                    required [(ngModel)]="patientDataObject.dob" #dob="ngModel"  (blur)="calculateAge(this.dob)" >                 
                </div>

                    <div class="form-group col-md-4">
                      <label for="age">Age </label>
                      <input type="text" id="age" name="age" class="form-control"    placeholder="Age " 
                      required [(ngModel)]="patientDataObject['age']" #age="ngModel" >    
                      
                      <div *ngIf="age.invalid && (age.dirty || age.touched)" class="alert alert-danger">
                        <div *ngIf="age.errors.required">
                          Age is required.
                        </div>
                        </div>

                  </div>
                                                
                  </div>
        
                  <div class="form-row">
                    
                    <div class="form-group col-md-4">
                      <label for="weight">Weight (in Kgs)</label>
                      <input type="text" id="weight" name="weight" class="form-control" placeholder="Weight " 
                      required [(ngModel)]="patientDataObject.weight" #weight="ngModel" >
                    </div>
                 
                    <div class="form-group col-md-4">
                      <label for="height">Height (in Cms)</label>
                      <input type="text" id="height" name="height" class="form-control"   placeholder="Height " 
                      required [(ngModel)]="patientDataObject['height']" #height="ngModel" (blur)="calculateBsa(this.height)" >
  
                      <div *ngIf="height.invalid && (height.dirty || height.touched)" class="alert alert-danger">
                        <div *ngIf="height.errors.required">
                          height is required.
                        </div>
                        </div>
  
                  </div> 

                  <div class="form-group col-md-4">
                      <label for="caseId">Case Id</label>
                      <input type="text" id="caseId" name="caseId" class="form-control" placeholder="Case Id " 
                      required [(ngModel)]="patientDataObject.caseId" #caseId="ngModel">
                  </div>
        
                  </div>
        
                  <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="window">Window</label>
                        <input type="text"  id="window" name="window" class="form-control"  placeholder="Window " 
                        required [(ngModel)]="patientDataObject.window" #window="ngModel">  
                    </div>
                    <div class="form-group col-md-4">
                        <label for="testtype">Test Type</label>
                      <select name="testtype" id="testtype" class="form-control" required [(ngModel)]="patientDataObject.testtype" 
                            #testtype="ngModel">
                        <option value="0">Select Test</option>
                          <option value="echo">Echo</option>
                          <option value="X-ray">X-ray</option>
                          <option value="Scanning">Scanning</option>
                      </select>              
                    </div>
        
                    <div class="form-group col-md-4">
                        <label for="testdate">Test Date </label>
                        <input type="date" id="testdate" name="testdate" class="form-control" placeholder="Test Date " 
                        required [(ngModel)]="patientDataObject.testdate" #testdate="ngModel">
                    </div>
        
                   
                  </div>
        
                  
                  <!-- <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="updatedate">Update Date</label>
                      <input type="date" id="updatedate" name="updatedate" class="form-control"  placeholder="Update Date " 
                      required [(ngModel)]="patientDataObject.updatedate" #updatedate="ngModel" >
                  </div>
                    <div class="form-group col-md-4">
                        <label for="examinedate">Examine Date</label>
                        <input type="date" id="examinedate" name="examinedate" class="form-control" placeholder="Examine Date " 
                        required [(ngModel)]="patientDataObject.examinedate" #examinedate="ngModel" >
                    </div>
                    <div class="form-group col-md-4">
                      <label for="reportnew" >Report New</label>
                      <div>
                          <label class="radio-inline">
                              <input type="radio" name="reportnew" id="reportnew" value="Yes"  
                              required [(ngModel)]="patientDataObject.reportnew" #reportnew="ngModel"  >
                              Yes
                          </label>  &nbsp;
                          <label class="radio-inline">
                              <input type="radio" name="reportnew" id="reportnew" value="No" 
                              required [(ngModel)]="patientDataObject.reportnew" #reportnew="ngModel"  >
                            No
                          </label>
                        </div>    
                  </div>
                  </div> -->
                  <!-- <div class="form-row">
                  <div class="form-group col-md-4">
                      <label for="reportdate">Date of Report</label>
                      <input type="date" id="reportdate" name="reportdate" class="form-control" placeholder="Report Date " 
                      required [(ngModel)]="patientDataObject.reportdate" #reportdate="ngModel" >
                  </div>
        
                  <div class="form-group col-md-4">
                    <label for="supplimentaryreport">Supplimentary Report</label>
                      <div>
                          <label class="radio-inline">
                              <input type="radio" name="supplimentaryreport" id="supplimentaryreport" value="Yes" 
                              required [(ngModel)]="patientDataObject.supplimentaryreport" #supplimentaryreport="ngModel" >
                              Yes
                          </label>  &nbsp;
                          <label class="radio-inline">
                              <input type="radio" name="supplimentaryreport" id="supplimentaryreport" value="No"  
                              required [(ngModel)]="patientDataObject.supplimentaryreport" #supplimentaryreport="ngModel" >
                            No
                          </label>
                        </div>  
        
                </div>
        
                <div class="form-group col-md-4">
                  <label for="supplimentarytdate">Date of Supplimentary Report</label>
                  <input type="date" id="supplimentarytdate" name="supplimentarytdate" class="form-control"
                   placeholder="Supplimentary Date "  required [(ngModel)]="patientDataObject.supplimentarytdate" #supplimentarytdate="ngModel" >
                </div>
                  </div> -->
                 
                  <!-- <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="status">Status of Case</label>
                    <select name="status" id="status" class="form-control" 
                    required [(ngModel)]="patientDataObject.status" #status="ngModel">
                      <option value="0">Select Test</option>
                        <option value="open">OPEN</option>
                        <option value="closed">Closed</option>
                    </select>              
                  </div>
                  <div class="form-group col-md-4">
                    <label for="propreport">Date of Prop Report</label>
                    <input type="date" id="propreport" name="propreport" class="form-control" placeholder="Prop Date " 
                    required [(ngModel)]="patientDataObject.propreport" #propreport="ngModel">
                  </div>
        
                  
                  <div class="form-group col-md-4">
                    <label for="submitdate">Date of Submit</label>
                    <input type="date" id="submitdate" name="submitdate" class="form-control"   placeholder="SubmitDate "
                    required [(ngModel)]="patientDataObject.submitdate" #submitdate="ngModel" >
                  </div>
        
                  </div>   -->


                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="bsa">BSA</label>
                      <input type="text" id="bsa" name="bsa" class="form-control" placeholder="BSA " 
                      required [(ngModel)]="patientDataObject.bsa" #bsa="ngModel">      
                  </div>
                  <div class="form-group col-md-4">
                    <label for="bmi">BMI</label>
                    <input type="text" id="bmi" name="bmi" class="form-control" placeholder="BMI " 
                    required [(ngModel)]="patientDataObject.bmi" #bmi="ngModel">
                  </div>
        
                  
                  <div class="form-group col-md-4">
                    <label for="bp">BP</label>
                    <input type="text" id="bp" name="bp" class="form-control"   placeholder="BP "
                    required [(ngModel)]="patientDataObject.bp" #bp="ngModel" >
                  </div>
        
                  </div>  

                  
                  <!-- <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="bmitype">Bmi Type</label>
                      <input type="text" id="bmitype" name="bmitype" class="form-control" placeholder="BMI Type" 
                      required [(ngModel)]="patientDataObject.bmitype" #bmitype="ngModel">      
                  </div>
                  <div class="form-group col-md-4">
                    <label for="ew">E.W</label>
                    <select id="ew" name="ew" class="form-control" required [(ngModel)]="patientDataObject.ew"
                    #ew="ngModel"  >
                     <option value="">Select EW</option>
                       <option *ngFor="let eew of ews" [value]="eew">{{eew}}</option>
                 </select>

                  </div>
                  <div class="form-group col-md-4">
                    <label for="echoid">Echo ID</label>
                    <input type="text" id="echoid" name="echoid" class="form-control"   placeholder="Echo ID "
                    required [(ngModel)]="patientDataObject.echoid" #echoid="ngModel" >
                  </div>
        
                  </div>   -->


                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="diagnostic">Diagnostic</label>
                      <input type="text" id="diagnostic" name="diagnostic" class="form-control" placeholder="Diagnostic " 
                      required [(ngModel)]="patientDataObject.diagnostic" #diagnostic="ngModel">      
                  </div>
                  <div class="form-group col-md-4">
                    <label for="ef">E.F Of</label>
                    <input type="text" id="ef" name="ef" class="form-control" placeholder="ef " 
                    required [(ngModel)]="patientDataObject.ef" #ef="ngModel">
                  </div>
        
                  
                  <div class="form-group col-md-4">
                    <label for="protocol">Protocol</label>
                     <select id="protocol" name="protocol" class="form-control" required [(ngModel)]="patientDataObject.protocol"
                    #protocol="ngModel"  >
                     <option value="">Select Protocol</option>
                       <option *ngFor="let prot of protocols" [value]="prot">{{prot}}</option>
                 </select>
                  </div>
        
                  </div>  



                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="reason">Reason / Remark For Echo</label>
                      
                      <textarea id="reason" name="reason" cols="25" rows="5" class="form-control" placeholder="Reason to Visit" 
            [(ngModel)]="patientDataObject.reason"  required #reason="ngModel"  ></textarea>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="sendreport"> Send Report </label>
                    <div>
                      <label class="radio-inline">
                          <input type="radio" name="sendreport" id="sendreport" value="sms"  
                          required [(ngModel)]="patientDataObject.sendreport" #sendreport="ngModel"  >
                          Send Sms
                      </label>  &nbsp;
                      <label class="radio-inline">
                          <input type="radio" name="sendreport" id="sendreport" value="email" 
                          required [(ngModel)]="patientDataObject.sendreport" #sendreport="ngModel"  >
                        Send Email
                      </label>
                    </div>    
                  </div>
        
                  </div>  
       
                   <!-- <div class="form-row">
                    <div class="form-group col-md-3"></div>
                    <div class="form-group col-md-3">
                      <button type="submit" class="btn btn-primary  btn-block"  >Save</button>
                      </div>
                      <div class="form-group col-md-3">
                    <button type="button" class="btn btn-danger  btn-block" (click)="goToSendDetails(patientDataObject)" >Submit</button>
                      </div>        
                      <div class="form-group col-md-3"></div>
        
                    </div> -->
        
            </form>
        
        
        </div>
           
          
            
           
        </div>
     </div>
  </div>
</div>
<!-- /#page-content-wrapper -->
<app-footer></app-footer>


