<app-nav></app-nav>
<div class="bg">
    <div class="container-fluid" >
       
       <div class="row inndiv">

        
        <div class="col-sm-1"  >
        </div>


    <div class="col-sm-6"   >

        <div class="row" >
            <div class="col-sm-6"  >
                <img  src="assets/images/echo_gif3.gif"  name="echo_gif3" class="img-responsive"   >
            </div>
            <div class="col-sm-6" >
                <img  src="assets/images/echo_gif2.gif"  name="echo_gif"  class="img-responsive"  >
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6" >
                <img  src="assets/images/echo_gif3.gif"  name="echo_gif3" class="img-responsive"   >
            </div>
            <div class="col-sm-6" >
                <img  src="assets/images/echo_gif2.gif"  name="echo_gif2"  class="img-responsive"  >
            </div>
          </div>

    </div>

    <div class="col-sm-5"   >

        <div class="side-form">
          <marquee behavior="scroll" direction="up">
            <h5>Please get the echocardiogram done before you do any procedure on your body.</h5>
            <br/>
          
            <ul>
              <li>Echocardiography is a diagnostic tool that uses ultrasound waves to create a visual image of the heart. It indicates the muscles and the layers of the heart, the valves, the flow of blood, evidence of blockage and many others.</li>
              <li>Echocardiography  is a routine test which is used in diagnosis , management as well as follow up of any kind of the suspected heart disease.</li>
              <li>It provides the wealth of information about your heart , its size, shape and condition of all the layers of the heart, damage to any tissue of the heart. It finds the pumping capacity of the heart and tells you if the heart is failing or has failed.</li>  
              <li>It tells you if you are on the way to get any blockage or already have blockage.</li>
              <li>It tells you the conditions of various valves and arteries – whether the valves are stiff , narrow or leaking.</li>
              <li>It tells you about the flow of blood , its speed and the pressure as its flows through the various chambers , valves and vessels.</li>
              <li>It gives you a good idea about the aging of the heart.</li>  
              <li>It gives the sufficient understanding of the lung condition.</li>
              <li>Echocardiographic study is essential in understanding every heart condition from womb to tomb</li>
              <li>Toady echocardiography is used by every anaesthetics in every situation. During the fitness test in any situation echocardiography is essential. </li>
              <li>Science of echocardiography is very well developed and it has gone to the various branches like TEE, TTE, CONTRAST ECHO, 3D, 4D, SPECKLE TRACKING etc.</li>
              <li>In the management of the cancer echo is used in every step  to monitor the various treatment we offer.</li>
              <li>Echocardiogram help us to access the various biomedical conditions that affect the heart like high or low sodium, high or low potassium, kidney failure , stroke etc.</li>
              <li>Echocardiography is simple to do, safe to do, cost least and can be repeated any number of times. It is the most cost effective expert investigation.</li>
              <li>You can see your own heart while doing the echo, without opening the chest.</li>
          </ul>



        </marquee>

        </div>

    </div>

         
                 
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog autocenter">
    
      <!-- Modal content-->
      <div class="modal-content bodymodal">
        <div class="modal-header">
          <h4 class="modal-title"> Login  </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
          
            <div class="login-form">
                <form name="loginForm"  #loginForm="ngForm" (ngSubmit) = "login(loginForm.value)" >
                       
                    <div class="form-group">
                        <label for="username">Username:</label>
               
                 <input type="text"  placeholder="username" name="username" class="form-control" id="username"
                 required [(ngModel)]="loginform.username" #username="ngModel" >
                    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                    <div *ngIf="username.errors.required">
                    UserName is required.
                    </div>
                    </div>        
    
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                      
                        <input type="password" placeholder="password" name="password" class="form-control" id="password" 
                        required [(ngModel)]="loginform.password" #password="ngModel" >
                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                         <div *ngIf="password.errors.required">
                           Password is required.
                         </div>
                         </div>
                        
                    </div>
                   
                    <div class="form-row">
                        
                    <div class="form-group col-md-6">
                      <button type="submit" class="btn btn-primary  btn-block"  >Login</button>
                      </div>
                      <div class="form-group col-md-6">
                    <button type="button" class="btn btn-danger  btn-block" (click)="loginForm.resetForm({})">Reset</button>
                      </div>        
                  
        
                    </div>
                    
                    <div class="clearfix">
                        <!-- <label class="float-left form-check-label"><input type="checkbox"> Remember me</label> -->
                        <a href="#" class="float-right">Forgot Password?</a>
                    </div>        
                </form>
               
            </div>

        </div>
       
      </div>
      
    </div>
  </div>


<!--------------------------------->



       </div>


     </div>
         
   </div>
<app-footer></app-footer>