<div class="bs-example">

    <header>
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
        <a routerLink="/login" class="navbar-brand title logo">
              <img  src="assets/images/logo.png"  name="CG_Heart" class="img-responsive"   >    
            {{ appTitle }} 
            <p style="text-align: center; padding-left: 10%;">(ISO 9001:2015 Certified)</p>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <!-- <div class="navbar-nav"> -->
            <!-- <a href="#" class="nav-item nav-link active">Home</a>   -->
          <!-- </div> -->
           
              <ul class="navbar-nav ml-auto">
                  <li *ngIf="!isLogin"><a routerLink="/login" class="nav-item nav-link menuli active" data-toggle="modal" data-target="#myModal" >Login </a></li>              
                  <li *ngIf="isLogin">                                 
                    <a   routerLink="/clinicdashboard"   *ngIf="role==='CLINIC'" class="nav-item nav-link menuli" > 
                      Dashboard &nbsp; |</a></li>
                  <li> <a routerLink="/dashboard"   *ngIf="role==='ADMIN'"  class="nav-item nav-link menuli" >  Dashboard &nbsp; |</a></li>
                  <li> <a routerLink="/dicomviewer"  *ngIf="role==='ADMIN'"    class="nav-item nav-link menuli" >  Dicom Viewer  &nbsp;|</a></li>
                  <li> <a routerLink="/dashboard"   *ngIf="role==='ADMIN'"  class="nav-item nav-link menuli" >  All General Master &nbsp;  |</a>
                    <span class="caret"></span>

                    <ul>
                      <li *ngIf="role === 'ADMIN'" style="border-top:1px dotted #fff;"><a routerLink="/general-addclinicdoctor" >Add General Clinic or Doctor</a></li>
                      <li *ngIf="role === 'ADMIN'" style="border-top:1px dotted #fff;"><a routerLink="/general-previewclinicall"  >Preview General All Clinics </a> </li>
                      <li *ngIf="role === 'ADMIN'" style="border-top:1px dotted #fff;" ><a routerLink="/general-previewdoctorall"  >Preview General All Doctors</a> </li>
                    
                      <li *ngIf="role === 'ADMIN'" style="border-top:1px dotted #fff;" >  <a [routerLink]="" queryParamsHandling="preserve" (click)="getgeneralAddPage('hospitalSpeciality');"  >Speciality</a></li>
                      <li *ngIf="role === 'ADMIN'" style="border-top:1px dotted #fff;" >  <a [routerLink]="" queryParamsHandling="preserve" (click)="getgeneralAddPage('hospitalService');"  > Services</a></li>

                      <li *ngIf="role === 'ADMIN'" style="border-top:1px dotted #fff;" >  <a routerLink="/previewallotherdetails"  > Preview Other Details Form</a></li> 
                      <li *ngIf="role === 'ADMIN'" style="border-top:1px dotted #fff;" >  <a routerLink="/addotherdetails"  > Add Other Details Form</a></li> 
                      
                      <li *ngIf="role === 'ADMIN'" style="border-top:1px dotted #fff;" >  <a routerLink="/previewallfamilyhistory"  > Preview Family Details Form</a></li> 
                      <li *ngIf="role === 'ADMIN'" style="border-top:1px dotted #fff;" >  <a routerLink="/addfamilyhistory"  > Add Family Details Form</a></li>
                      
                      <li *ngIf="role === 'ADMIN'" style="border-top:1px dotted #fff;" >  <a routerLink="/previewalllifestyle"  > Preview Life Style Form</a></li> 
                      <li *ngIf="role === 'ADMIN'" style="border-top:1px dotted #fff;" >  <a routerLink="/addlifestyle"  > Add Life Style Form</a></li>
                      <li *ngIf="role === 'ADMIN'" style="border-top:1px dotted #fff;" >  <a routerLink="/previewinvestigationreport"  > Preview Investigation Form</a></li>
                      <li *ngIf="role === 'ADMIN'" style="border-top:1px dotted #fff;" >  <a routerLink="/addinvestigationreport"  > Add Investigation Report</a></li>

                      
                    </ul>
                  
                  </li>

                  <li> <a routerLink="/doctordashboard"   *ngIf="role==='DOCTOR'"  class="nav-item nav-link menuli" >  Dashboard  &nbsp;|</a></li>
                  <li> <a routerLink="/registerpatient"   *ngIf="role==='CLINIC'"  class="nav-item nav-link menuli" >  Register  Patient &nbsp; |</a></li>
                  <li *ngIf="isLogin && role!='ADMIN' && role==='CLINIC'"><a routerLink="/profile" class="nav-item nav-link menuli" >Profile &nbsp; |</a></li>
                  <li *ngIf="isLogin && role!='ADMIN' && role==='DOCTOR' "><a routerLink="/doctorprofile" class="nav-item nav-link menuli" >Profile &nbsp; |</a></li>
                  <!-- <li><a routerLink="/contactus" class="nav-item nav-link menuli" >Contact Us </a></li> -->
                  <li *ngIf="isLogin"><a routerLink="" class="nav-item nav-link menuli" (click)="logout()">Log Out</a></li>
                 
                 
                </ul>                        

        </div>
      </div>
    </nav>
    </header>
    
</div> 