header {
    background: #17a2b8;

    .logo {
        font-weight: bold;
    }

    nav {
        justify-self: right;
    
        ul {
            list-style-type: none;
            margin: 0; padding: 0;

            li {
                float: left;

                a {
                    padding: 1em;
                    text-transform: uppercase;
                    font-size: .8em;

                    &:hover {
                        background: #EAEAEA;
                        color: #17a2b8;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

// .bs-example{
//     margin: 20px;
// }
.bg-light{
    background: #17a2b8 !important;
    
}

.navbar-light .navbar-brand ,
.navbar-light .navbar-brand title { 
    color: #fff ;
}

.navbar-light .navbar-nav .active > 
.nav-link, .navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show > .nav-link{
    color: #fff;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff;
}

.navbar-light .navbar-toggler {
    color: #fff;
    border-color:#f0f0f0;
}
.navbar-light .navbar-toggler-icon{
    color:#fff;
}
.icon {
    fill: #fff;
  }