<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<app-nav></app-nav>

<div id="wrapper">       
	<app-sidenav></app-sidenav> 	
        <!-- Page Content -->
        <div id="page-content-wrapper">
           
            <div  class="col-md-12 fright" >
							
				<div class="form-row">
					<div class="form-group col-md-3">

					</div>
					<div class="form-group col-md-3">
						<div>
							<img  src="assets/images/logo.png"  name="Logo" class="img-responsive"   >  
						</div>
						<div>
							<h5>  Welcome  {{ ClinicData?.name }}</h5>
						</div>
					</div>

					<div class="form-group col-md-6">
						<div>
							<table class="tablestyleinn">
								<tr>
									<td> <h5>Clinic Name</h5></td>
									<td> <h5>: {{ ClinicData?.name }}  </h5></td>
								</tr>
								<tr>
									<td> <h5>Phone Number </h5></td>
									<td>: {{ ClinicData?.mobNo }}</td>
								</tr>
								<tr>
									<td> <h5>Address</h5> </td>
									<td>: {{ ClinicData?.address }}</td>
								</tr>
							</table>
						</div>
					</div>

				</div>
				
	<!----------------------------------------------------->
<div class="card">
	<div class="tabs">
		<input type="radio" name="tabs" id="tabone" checked="checked">
		<label for="tabone">Cases To Be Assigned</label>
		<div class="tab"  >
			<app-showallpatients></app-showallpatients>
		</div>
		
		<input type="radio" name="tabs" id="tabtwo">
		<label for="tabtwo">Upload</label>
		<div class="tab" style="min-height: 450px;">
			<app-dicomupload></app-dicomupload>
		  
		</div>
		
		<input type="radio" name="tabs" id="tabthree">
		<label for="tabthree">Dashboard</label>
		<div class="tab" >
			<app-clnic-dashboard-tab></app-clnic-dashboard-tab> 
		</div>

		<input type="radio" name="tabs" id="tabfour">
		<label for="tabfour">Reports</label>
		<div class="tab" style="min-height: 300px;">
		  <h1>Reports</h1>
		</div>

	  </div>
	
	</div>

            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

 <app-footer></app-footer>


