<form  name="observationsForm"   #observationsForm="ngForm" (ngSubmit)="savePulmonicValueData()"  >
  <div class="observe">
    <div id="container">
      <h3 class="head-title"> Type: Pulmonic Valve </h3> 
      <div class="total-container">
       
        
        <div class="form-row">
            
          <div class="form-group col-md-4">
              <label>Structure</label>
              <select  class="form-control" [(ngModel)]="updform.selectStructure" name="selectStructure"                
              (ngModelChange)="onOptionsSelected('Structure',updform.selectStructure)" >
                <option> Not Applicable(N/A)</option> 
                <option *ngFor="let sta of structure" [ngValue]="sta.itemName">{{sta.itemName}}</option>
              </select>
            </div>
         <div class="form-group col-md-4">
          <label>Pulmonic Regurgitation </label>
      <select  class="form-control" [(ngModel)]="updform.selectPulmonicregurgitation" name="selectpulmonicregurgitation"  
      (ngModelChange)="onOptionsSelected('Pulmonicregurgitation',updform.selectPulmonicregurgitation)">
        <option> Not Applicable(N/A)</option>  
        <option *ngFor="let sta of pulmonicRegurgitation" [ngValue]="sta.itemName">{{sta.itemName}}</option>
      </select>
     </div>

    

        </div>

      <div class="form-row" style="text-align: center; border-top:1px solid #f0f0f0; padding-top:1% "
     >
      <div class="form-group col-md-12">
      <label class="head-title">Pulmonic Stenosis</label>               
      </div>                                                    
      </div> 
      <div class="form-row">

      <div class="form-group col-md-4">
        <label>Pulmonic Stenosis :Location </label>
        <select  class="form-control" [(ngModel)]="updform.selectStenosisLocation" name="selectStenosisLocation" 
         (ngModelChange)="onOptionsSelected('StenosisLocation',updform.selectStenosisLocation)">
          <option> Not Applicable(N/A)</option>  
          <option *ngFor="let sta of stenosisLocation" [ngValue]="sta.itemName">{{sta.itemName}}</option>
        </select>
        </div>


        <div class="form-group col-md-4" *ngIf="updform.selectStenosisLocation === 'Pulmonic Stenosis-Location-Branch' ">
          <label>Pulmonic Stenosis :Location  : Branch</label>
          <select  class="form-control" [(ngModel)]="updform.selectStenosisLocationBranch" name="selectStenosisLocationBranch" 
           (ngModelChange)="onOptionsSelected('StenosisLocationBranch',updform.selectStenosisLocationBranch)">
            <option> Not Applicable(N/A)</option>  
            <option *ngFor="let sta of branch" [ngValue]="sta.itemName">{{sta.itemName}}</option>
          </select>
          </div>


          <div class="form-group col-md-4" *ngIf="updform.selectStenosisLocationBranch === 'Pulmonic Stenosis-Location-Branch-Others(Specify)'">
            <label>Others (Specify) </label>
           <input class="form-control" type="text"  name="updform.selectStenosisLocationBranchOther" 
           [(ngModel)]="updform.selectStenosisLocationBranchOther" 
           #selectStenosisLocationBranchOther="ngModel" />
            </div>

        <div class="form-group col-md-4">
          <label>Pulmonic Stenosis :Severity </label>
          <select  class="form-control" [(ngModel)]="updform.selectStenosisSeverity" name="selectStenosisSeverity" 
           (ngModelChange)="onOptionsSelected('StenosisSeverity',updform.selectStenosisSeverity)">
            <option> Not Applicable(N/A)</option>  
            <option *ngFor="let sta of stenosisSeverity" [ngValue]="sta.itemName">{{sta.itemName}}</option>
          </select>
          </div>

          <div class="form-group col-md-4">
            <label>Pulmonic Stenosis :Quantitative Measurements </label>
            <select  class="form-control" [(ngModel)]="updform.StenosisQuantitativeMeasurements" name="StenosisQuantitativeMeasurements" 
             (ngModelChange)="onOptionsSelected('StenosisQuantitativeMeasurements',updform.StenosisQuantitativeMeasurements)">
              <option> Not Applicable(N/A)</option>  
              <option *ngFor="let sta of stenosisQuantitativeMeasurements" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>
            </div>

            <div class="form-group col-md-4" *ngIf="updform.StenosisQuantitativeMeasurements === 'Pulmonic Stenosis-Quantitative Measurements-Others Specify'">
              <label>Others (Specify) </label>
             <input class="form-control" type="text"  name="updform.StenosisQuantitativeMeasurementsOther" 
             [(ngModel)]="updform.StenosisQuantitativeMeasurementsOther" 
             #StenosisQuantitativeMeasurementsOther="ngModel" />
              </div>

      </div>

<hr/>

          <div class="form-row">
        <div class="form-group col-md-4">
        <label>Pulmonary Pressure  </label>
        <select  class="form-control" [(ngModel)]="updform.selectPulmonaryPressure" name=" selectPulmonaryPressure" 
         (ngModelChange)="onOptionsSelected('PulmonaryPressure',updform.selectPulmonaryPressure)">
          <option> Not Applicable(N/A)</option>   
          <option *ngFor="let sta of pulmonaryPressure" [ngValue]="sta.itemName">{{sta.itemName}}</option>
        </select> 
       </div>

       <div class="form-group col-md-4"  *ngIf="updform.selectPulmonaryPressure === 'Pulmonic Pressure-PA Diastolic Pressure'">
        <label> Pulmonic Pressure-PA Diastolic Pressure </label>
      <input class="form-control" type="text" name="updform.selectPulmonicDiastolicPressure" 
      [(ngModel)]="updform.selectPulmonicDiastolicPressure" 
      #selectPulmonicDiastolicPressure="ngModel" />
      </div>

      <div class="form-group col-md-4" *ngIf="updform.selectPulmonaryPressure === 'Pulmonic Pressure-Mean PA Pressure'">
        <label>
          Pulmonic Pressure-Mean PA Pressure
        </label>
        <input class="form-control" type="text" name="updform.selectPulmonicMeanPaPressure" 
      [(ngModel)]="updform.selectPulmonicMeanPaPressure" 
      #selectPulmonicMeanPaPressure="ngModel" />
      </div>
        </div>
  

        <div class="form-group col-md-12" style="text-align: center; border-top:1px solid #f0f0f0; padding-top:1%" 
            *ngIf="updform.selectStructure === 'Abnormal'">
          <label class="head-title" >Structure Abnormal </label>
        </div>
        <div class="form-row">
        <div class="form-group col-md-4" *ngIf="updform.selectStructure === 'Abnormal'">
          <label>Structure Abnormal </label>
          <select  class="form-control" [(ngModel)]="updform.selectstructureAbnormal" name="selectstructureAbnormal"  
            (ngModelChange)="onOptionsSelected('structureAbnormal',updform.selectstructureAbnormal)">
            <option> Not Applicable(N/A)</option>   
            <option *ngFor="let sta of abnormal" [ngValue]="sta.itemName">{{sta.itemName}}</option>
          </select>
          </div>
          <div class="form-group col-md-4" *ngIf="updform.selectstructureAbnormal === 'Other (Specify)'">
            <label>Others </label>
           <input class="form-control" type="text"  name="updform.selectstructureAbnormalOther" 
           [(ngModel)]="updform.selectstructureAbnormalOther" 
           #selectstructureAbnormalOther="ngModel" />
            </div>

      </div>

            <div class="form-group col-md-12" style="text-align: center; border-top:1px solid #f0f0f0; padding-top:1%" 
                *ngIf="updform.selectPulmonicregurgitation === 'Pulmonic Regurgitation-Present'">
              <label class="head-title" >Pulmonic Regurgitation-Present </label>
            </div>
          <div class="form-group col-md-4" *ngIf="updform.selectPulmonicregurgitation === 'Pulmonic Regurgitation-Present'">
            <label>Pulmonic Regurgitation-Present</label>
            <select  class="form-control" [(ngModel)]="updform.selectPulmonicRegurgitationPresent" name="selectPulmonicRegurgitationPresent"  
                (ngModelChange)="onOptionsSelected('PulmonicRegurgitationPresent',updform.selectPulmonicRegurgitationPresent)">
              <option> Not Applicable(N/A)</option>    
              <option *ngFor="let sta of regurgitationPresent" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>
            </div>

            <div class="form-group col-md-12" style="text-align: center; border-top:1px solid #f0f0f0; padding-top:1%" *ngIf="updform.selectPulmonicstenosis === 'Pulmonic Stenosis-Location'">
              <label class="head-title" >Pulmonic Stenosis-Location </label>
            </div>
            <div class="form-row col-md-4" *ngIf="updform.selectPulmonicstenosis === 'Pulmonic Stenosis-Location'">
              <label>Pulmonic Stenosis-Location</label>
              <select  class="form-control" [(ngModel)]="updform.selectPulmonicstenosislocation" name="selectPulmonicstenosislocation"  
              (ngModelChange)="onOptionsSelected('Pulmonicstenosislocation',updform.selectPulmonicstenosislocation)">
                <option> Not Applicable(N/A)</option>    
                <option *ngFor="let sta of stenosisLocation" [ngValue]="sta.itemName">{{sta.itemName}}</option>
              </select>
              
              </div>
              <div class="form-group col-md-12" style="text-align: center; border-top:1px solid #f0f0f0; padding-top:1%" *ngIf="updform.selectPulmonicstenosis === 'Pulmonic Stenosis-Severity'">
                <label class="head-title" >Pulmonic Stenosis-Severity</label>
              </div>
              <div class="form-group col-md-4" *ngIf="updform.selectPulmonicstenosis === 'Pulmonic Stenosis-Severity'">
                <label>Pulmonic Stenosis-Severity</label>
                <select  class="form-control" [(ngModel)]="updform.selectPulmonicstenosisseverity" name="selectPulmonicstenosisseverity"  
                (ngModelChange)="onOptionsSelected('Pulmonicstenosisseverity',updform.selectPulmonicstenosisseverity)">
                  <option> Not Applicable(N/A)</option>    
                  <option *ngFor="let sta of stenosisSeverity" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                </select>
                </div>




               
                <div class="form-row"  *ngIf="updform.selectPulmonicstenosis === 'Pulmonic Stenosis-Location'">
                  <div class="form-group col-md-12" style="text-align: center; border-top:1px solid #f0f0f0; padding-top:1%" *ngIf="updform.selectPulmonicstenosislocation === 'Pulmonic Stenosis-Location-Branch'">
                    <label class="head-title" >Pulmonic Stenosis-Branch </label>
                  </div>
                              <div class="form-group col-md-4" *ngIf="updform.selectPulmonicstenosislocation === 'Pulmonic Stenosis-Location-Branch'">
                  <label>Pulmonic Stenosis-Branch</label>
                  <select  class="form-control" [(ngModel)]="updform.selectStenosisbranch" name="stenosisbranch"  
                  (ngModelChange)="onOptionsSelected('Stenosisbranch',updform.selectStenosisbranch)">
                      <option *ngFor="let sta of branch" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                  </select>
                       </div> 
                       <div class="form-group col-md-4" *ngIf="updform.selectPulmonicstenosislocation === 'Pulmonic Stenosis-Location-Branch'"> 
                       <div   *ngIf="updform.selectStenosisbranch === 'Pulmonic Stenosis-Location-Branch-Others(Specify)'">
                        <label>Others </label>
                       <input class="form-control" type=text  name="updform.stenosisbranchothers" 
                       [(ngModel)]="updform.stenosisbranchothers" 
                       #stenosisbranchothers="ngModel"/>
                        </div>
                      </div>
                </div>
                <div class="form-group col-md-12" style="text-align: center; border-top:1px solid #f0f0f0; padding-top:1%" *ngIf="updform.selectPulmonicstenosis === 'Pulmonic Stenosis-Quantitative Measurements'">
                  <label class="head-title" >Pulmonic Stenosis-Quantitative Measurements</label>
                </div>
                <div class="form-row">
                <div class="form-group col-md-4" *ngIf="updform.selectPulmonicstenosis === 'Pulmonic Stenosis-Quantitative Measurements'">
                  <label>Pulmonic Stenosis-Quantitative Measurements</label>
                  <select  class="form-control" [(ngModel)]="updform.selectStenosisQuantitativeMeasurements" name="StenosisQuantitativeMeasurements"  
                  (ngModelChange)="onOptionsSelected('StenosisQuantitativeMeasurements',updform.StenosisQuantitativeMeasurements)">
                    <option> Not Applicable(N/A)</option>    
                    <option *ngFor="let sta of stenosisQuantitativeMeasurements" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                  </select>
                  
                  
                  </div>
                  <div class="form-group col-md-4" *ngIf="updform.selectPulmonicstenosis === 'Pulmonic Stenosis-Quantitative Measurements'"> 
    
                  <div *ngIf="updform.StenosisQuantitativeMeasurements === 'Pulmonic Stenosis-Quantitative Measurements-Others Specify'">
                    <label>Others </label>
                   <input class="form-control " type=text name="updform.StenosisQuantitativeMeasurementsothers"  [(ngModel)]="updform.StenosisQuantitativeMeasurementsothers" 
                   #StenosisQuantitativeMeasurementsothers="ngModel" />
                    </div>
                  </div>
                </div>  
                
                <div class="form-group col-md-12" style="text-align: center; border-top:1px solid #f0f0f0; padding-top:1%" *ngIf="updform.selectPulmonaryPressure === 'Pulmonic Pressure-PA Systolic Pressure'">
                <label class="head-title" >Pulmonic Pressure-PA Systolic Pressure</label>
              </div>

              <div class="form-row">
               

                 <div class="form-group col-md-4" *ngIf="updform.selectPulmonaryPressure === 'Pulmonic Pressure-PA Systolic Pressure'">
                  <label>Pulmonary Systolic Pressure</label>
                  <select  class="form-control" [(ngModel)]="updform.selectPaSystolicPressure" name="selectPaSystolicPressure"  
                  (ngModelChange)="onOptionsSelected('PaSystolicPressure',updform.selectPaSystolicPressure)">
                    <option> Not Applicable(N/A)</option>    
                    <option *ngFor="let sta of paSystolicPressure" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                  </select>
                  </div>

    <div class="form-group col-md-4"  *ngIf="updform.selectPaSystolicPressure === 'Pulmonic Pressure-Other Method(Specify)'">
        <label>Others (Specify) </label>
      <input class="form-control" type="text" name="updform.selectpulmonarysystoicPressureothers" 
      [(ngModel)]="updform.selectpulmonarysystoicPressureothers" 
      #selectpulmonarysystoicPressureothers="ngModel" />
      </div>

    </div>
    
         
    <div class="form-row"   >
      <div class="form-group col-md-2" ></div>
      <div class="form-group col-md-2" >
        <button type="button" class="btn btn-warning  btn-block" onclick="$('#tabeight').trigger('click')" 
        (click)="getAddPage('pulmonaryArteryObservation')"  >Previous</button>
      </div>
      <div class="form-group col-md-2" >
        <button type="submit" class="btn btn-primary  btn-block" id="btnSubmit" >Submit</button>
      </div>
      <div class="form-group col-md-2" >
        <button type="button" class="btn btn-danger  btn-block" onclick="$('#tabten').trigger('click')" 
        (click)="getAddPage('aortaObservation')"  >Next</button>
      </div>
      <div class="form-group col-md-4" ></div>
    </div> 


      </div>
    
  
  </div>

</div>



</form>
  

