<form  name="observationsForm"   #observationsForm="ngForm"  (ngSubmit)="saveRightAtriumData()"    >
  <div class="observe">
    <div id="container">
      <h3 class="head-title"> Type: Right Atrium </h3> 
      <div class="total-container">
       


        <div class="form-group col-md-12" style="text-align: center; border-top:1px solid #f0f0f0; padding-top:1%" 
               >
          <label class="head-title" >Right Atrium Abnormal </label>
        </div>
        <div class="form-row" >
          <div class="form-group col-md-4"  >
          <label> Right Atrium Size </label>
          <select [(ngModel)]="updform.selectAbnormal" name="selectAbnormal" id="selectAbnormal" placeholder="select" 
          (ngModelChange)="onOptionsSelected('Abnormal',updform.selectAbnormal)" class="form-control">
          <option [ngValue]="undefined"> Not Applicable(N/A)</option>
          <option *ngFor="let sta of dataabnormalsize" [ngValue]="sta.itemName">{{sta.itemName}}</option>
          </select>
          </div>
          <div class="form-group col-md-4"  >
            <label> Right Atrium Thrombus </label>
            <select [(ngModel)]="updform.selectAbnormal_Thrombus" name="selectAbnormal_Thrombus" id="selectAbnormal_Thrombus" placeholder="select" 
            (ngModelChange)="onOptionsSelected('Abnormal_Thrombus',updform.selectAbnormal_Thrombus)" class="form-control">
            <option [ngValue]="undefined"> Not Applicable(N/A)</option>
            <option *ngFor="let sta of dataabnormalthrombus" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>
            </div>
            <div class="form-group col-md-4"  >
              <label> Right Atrium Mass </label>
              <select [(ngModel)]="updform.selectAbnormal_Mass" name="selectAbnormal_Mass" id="selectAbnormal_Mass" placeholder="select" 
              (ngModelChange)="onOptionsSelected('Abnormal_Mass',updform.selectAbnormal_Mass)" class="form-control">
              <option [ngValue]="undefined"> Not Applicable(N/A)</option>
              <option *ngFor="let sta of dataabnormalmass" [ngValue]="sta.itemName">{{sta.itemName}}</option>
              </select>
              </div>
              <div class="form-group col-md-4"  >
                <label> Right Atrium Catheter/Pacemaker </label>
                <select [(ngModel)]="updform.selectAbnormal_Catheter" name="selectAbnormal_Catheter" id="selectAbnormal_Catheter" placeholder="select" 
                (ngModelChange)="onOptionsSelected('Abnormal_Catheter',updform.selectAbnormal_Catheter)" class="form-control">
                <option [ngValue]="undefined"> Not Applicable(N/A)</option>
                <option *ngFor="let sta of dataabnormalcatheter" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                </select>
                </div>
                <div class="form-group col-md-4"  >
                  <label> Right Atrium Spontaneous Echo Contrast </label>
                  <select [(ngModel)]="updform.selectAbnormal_Spontaneous" name="selectAbnormal_Spontaneous" id="selectAbnormal_Spontaneous" placeholder="select" 
                  (ngModelChange)="onOptionsSelected('Abnormal_Spontaneous',updform.selectAbnormal_Spontaneous)" class="form-control">
                  <option [ngValue]="undefined"> Not Applicable(N/A)</option>
                  <option *ngFor="let sta of dataabnormalspontaneous" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                  </select>
                  </div>
                  <div class="form-group col-md-4"  >
                    <label> Right Atrium Pressure</label>
                    <select [(ngModel)]="updform.selectAbnormal_Pressure" name="selectAbnormal_Pressure" id="selectAbnormal_Pressure" placeholder="select" 
                    (ngModelChange)="onOptionsSelected('Abnormal_Pressure',updform.selectAbnormal_Pressure)" class="form-control">
                    <option [ngValue]="undefined"> Not Applicable(N/A)</option>
                    <option *ngFor="let sta of dataabnormalpressure" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                    </select>
                    </div>
                    <div class="form-group col-md-4"  >
                      <label> Right Atrium Others</label>
                      <select [(ngModel)]="updform.selectAbnormal_Other" name="selectAbnormal_Other" id="selectAbnormal_Other" placeholder="select" 
                      (ngModelChange)="onOptionsSelected('Abnormal_Other',updform.selectAbnormal_Other)" class="form-control">
                      <option [ngValue]="undefined"> Not Applicable(N/A)</option>
                      <option *ngFor="let sta of dataabnormalothers" [ngValue]="sta.itemName">{{sta.itemName}}</option>
                      </select>
                      </div>
                    
          </div>
          <div class="form-group col-md-12" style="text-align: center; border-top:1px solid #f0f0f0; padding-top:1%" *ngIf="updform.selectAbnormal_Thrombus === 'Thrombus-Present'">
            <label class="head-title" >Thrombus-Present </label>
          </div>
          <div class="form-row"  *ngIf="updform.selectAbnormal_Thrombus === 'Thrombus-Present' "> 
            <div class="form-group col-md-4">
            <label>Right Artrium Thrombus Size </label>
        <select [(ngModel)]="updform.selectAbnormal_Thrombus_Size" class="form-control" name="selectAbnormal_Thrombus_Size" placeholder="select" (ngModelChange)="onOptionsSelected('Abnormal_Thrombus_Size',updform.selectAbnormal_Thrombus_Size)">
          <option [ngValue]="undefined"> Not Applicable(N/A)</option>  
          <option *ngFor="let sta of dataabnormalthrombuspresentsize" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>
        </div>
        <div class="form-group col-md-4">
          <label>Right Artrium Thrombus Location </label>
        <select [(ngModel)]="updform.selectAbnormal_Thrombus_Location" class="form-control" name="selectAbnormal_Thrombus_Location" placeholder="select" (ngModelChange)="onOptionsSelected('Abnormal_Thrombus_Location',updform.selectAbnormal_Thrombus_Location)">
          <option [ngValue]="undefined"> Not Applicable(N/A)</option>
          <option *ngFor="let sta of dataabnormalthrombuspresentlocation" [ngValue]="sta.itemName">{{sta.itemName}}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label>Right Artrium Thrombus Shape </label>
        <select [(ngModel)]="updform.selectAbnormal_Thrombus_Present_Shape" class="form-control" name="selectAbnormal_Thrombus_Present_Shape" placeholder="select" (ngModelChange)="onOptionsSelected('Abnormal_Thrombus_Present_Shape',updform.selectAbnormal_Thrombus_Present_Shape)">
          <option [ngValue]="undefined"> Not Applicable(N/A)</option>
          <option *ngFor="let sta of dataabnormalthrombuspresentshape" [ngValue]="sta.itemName">{{sta.itemName}}</option>
          </select> 
        </div>
        
        <div class="form-group col-md-4" *ngIf="updform.selectAbnormal_Thrombus_Present_Shape === 'Abnormal-Thrombus-Present-Shape-Other (Specify)'">
          <label>Others </label>
         <input class="form-control"type=text   id="selectedra_abnormal_thrombus_present_shape_Other_Value" name="selectedra_abnormal_thrombus_present_shape_Other_Value" class="form-control"                 
         placeholder="Other (Specify) Value" [(ngModel)]="updform.selectedra_abnormal_thrombus_present_shape_Other_Value" 
         #selectedra_abnormal_thrombus_present_shape_Other_Value="ngModel"  />
          </div>
        <div class="form-group col-md-4">
          <label>Right Artrium Thrombus Texture </label>
          <select [(ngModel)]="updform.selectAbnormal_Thrombus_Present_Texture" class="form-control" name="selectAbnormal_Thrombus_Present_Texture" placeholder="select" (ngModelChange)="onOptionsSelected('Abnormal_Thrombus_Present_Texture',updform.selectAbnormal_Thrombus_Present_Texture)">
            <option [ngValue]="undefined"> Not Applicable(N/A)</option>
            <option *ngFor="let sta of dataabnormalthrombuspresenttexture" [ngValue]="sta.itemName">{{sta.itemName}}</option>
          </select>
        </div>
        <div class="form-group col-md-4" *ngIf="updform.selectAbnormal_Thrombus_Present_Texture === 'Abnormal-Thrombus-Present-Texture-Other (Specify)'">
          <label>Others </label>
         <input class="form-control"type=text   
         id="selectedraabnormalthrombustextureOtherValue" name="selectedraabnormalthrombustextureOtherValue" class="form-control"                 
         placeholder="Other (Specify) Value" [(ngModel)]="updform.selectedraabnormalthrombustextureOtherValue" 
         #selectedraabnormalthrombustextureOtherValue="ngModel"/>
          </div>
        <div class="form-group col-md-4">
          <label>Right Artrium Thrombus Mobility </label>
        <select [(ngModel)]="updform.selectAbnormal_Thrombus_Mobility" class="form-control" name="selectAbnormal_Thrombus_Mobility" placeholder="select" (ngModelChange)="onOptionsSelected('Abnormal_Thrombus_Mobility',updform.selectAbnormal_Thrombus_Mobility)">
          <option [ngValue]="undefined"> Not Applicable(N/A)</option>
          <option *ngFor="let sta of dataabnormalthrombuspresentmobility" [ngValue]="sta.itemName">{{sta.itemName}}</option>
          </select>
        </div>
        
        <div class="form-group col-md-4" *ngIf="updform.selectAbnormal_Thrombus_Mobility === 'Abnormal-Thrombus-Present-Mobility-Dimensions'">
          <label>Dimensions  </label>
         <input class="form-control" type=text    id="selectedra_abnormal_thrombus_mobility_Other_Value" name="selectedra_abnormal_thrombus_mobility_Other_Value" class="form-control"                 
         placeholder="Other (Specify) Value" [(ngModel)]="updform.selectedra_abnormal_thrombus_mobility_Other_Value" 
         #selectedra_abnormal_thrombus_mobility_Other_Value="ngModel"/>
          </div>
        </div>

        <div class="form-group col-md-12" style="text-align: center; border-top:1px solid #f0f0f0; padding-top:1%" *ngIf="updform.selectAbnormal_Mass === 'Mass-Present'">
          <label class="head-title" >Mass-Present </label>
        </div>
        <div class="form-row"  *ngIf="updform.selectAbnormal_Mass === 'Mass-Present' "> 
          <div class="form-group col-md-4">
          <label>Right Artrium Mass Size </label>
        <select [(ngModel)]="updform.selectAbnormal_Mass_Size" class="form-control" name="selectAbnormal_Mass_Size" placeholder="select" (ngModelChange)="onOptionsSelected('Abnormal_Mass_Size',updform.selectAbnormal_Mass_Size)">
          <option [ngValue]="undefined"> Not Applicable(N/A)</option>
          <option *ngFor="let sta of dataabnormalmasspresentsize" [ngValue]="sta.itemName">{{sta.itemName}}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
        <label>Right Artrium Mass Location </label>
        <select [(ngModel)]="updform.selectAbnormal_Mass_Location" class="form-control" name="selectAbnormal_Mass_Location" placeholder="select" (ngModelChange)="onOptionsSelected('AbnormalMassLocation',updform.selectAbnormal_Mass_Location)">
        <option *ngFor="let sta of dataabnormalmasspresentlocation" [ngValue]="sta.itemName">{{sta.itemName}}</option>
        </select>
        </div>
        <div class="form-group col-md-4">
        <label>Right Artrium Mass Shape </label>
        <select [(ngModel)]="updform.selectAbnormal_Mass_Present_Shape" class="form-control" name="selectAbnormal_Mass_Present_Shape" placeholder="select" (ngModelChange)="onOptionsSelected('Abnormal_Mass_Present_Shape',updform.selectAbnormal_Mass_Present_Shape)">
          <option [ngValue]="undefined"> Not Applicable(N/A)</option>
          <option *ngFor="let sta of dataabnormalmasspresentshape" [ngValue]="sta.itemName">{{sta.itemName}}</option>
        </select>
        </div>
        <div class="form-group col-md-4" *ngIf="updform.selectAbnormal_Mass_Present_Shape === 'Abnormal-Mass-Present-Shape-Others'">
          <label>Others </label>
         <input class="form-control"type=text id="selectedra_abnormal_mass_shape_Other_Value" name="selectedra_abnormal_mass_shape_Other_Value" class="form-control"                 
         placeholder="Other (Specify) Value" [(ngModel)]="updform.selectedra_abnormal_mass_shape_Other_Value" 
         #selectedra_abnormal_mass_shape_Other_Value="ngModel"/>
          </div>
        <div class="form-group col-md-4">
        <label>Right Artrium Mass Texture </label>
        <select [(ngModel)]="updform.selectAbnormal_Mass_Texture" class="form-control" name="selectAbnormal_Mass_Texture" placeholder="select" (ngModelChange)="onOptionsSelected('Abnormal_Mass_Texture',updform.selectAbnormal_Mass_Texture)">
          <option [ngValue]="undefined"> Not Applicable(N/A)</option>
          <option *ngFor="let sta of dataabnormalmasspresenttexture" [ngValue]="sta.itemName">{{sta.itemName}}</option>
        </select>
        </div>
        <div class="form-group col-md-4">
        <label>Right Artrium Mass Mobility </label>
        <select [(ngModel)]="updform.selectAbnormal_Mass_Mobility" class="form-control" name="selectAbnormal_Mass_Mobility" placeholder="select" (ngModelChange)="onOptionsSelected('Abnormal_Mass_Mobility',updform.selectAbnormal_Mass_Mobility)">
          <option [ngValue]="undefined"> Not Applicable(N/A)</option>
          <option *ngFor="let sta of dataabnormalmasspresentmobility" [ngValue]="sta.itemName">{{sta.itemName}}</option>
        </select>
        </div>
        <div class="form-group col-md-4">
          <label>Right Artrium Mass Type </label>
          <select [(ngModel)]="updform.selectAbnormal_Mass_Type" class="form-control" name="selectAbnormal_Mass_Type" placeholder="select" (ngModelChange)="onOptionsSelected('Abnormal_Mass_Type',updform.selectAbnormal_Mass_Type)">
            <option [ngValue]="undefined"> Not Applicable(N/A)</option>
            <option *ngFor="let sta of dataabnormalmasspresenttype" [ngValue]="sta.itemName">{{sta.itemName}}</option>
          </select>
          </div>
          <div class="form-group col-md-4" *ngIf="updform.selectAbnormal_Mass_Type === 'Abnormal-Mass-Present-Type-Suggestive Of Other Mass (Specify)'">
            <label>Others </label>
           <input class="form-control"type=text id="selectedra_abnormal_mass_type_Other_Value" name="selectedra_abnormal_mass_type_Other_Value" class="form-control"                 
           placeholder="Other (Specify) Value" [(ngModel)]="updform.selectedra_abnormal_mass_type_Other_Value" 
           #selectedra_abnormal_mass_type_Other_Value="ngModel"/>
            </div>
          <div class="form-group col-md-4">
            <label>Right Artrium Mass Dimensions </label>
           <input class="form-control"type=text  id="selectedra_abnormal_mass_type_Dimensions" name="selectedra_abnormal_mass_type_Dimensions" class="form-control"                 
           placeholder="Other (Specify) Value" [(ngModel)]="updform.selectedra_abnormal_mass_type_Dimensions" 
           #selectedra_abnormal_mass_type_Dimensions="ngModel"/>
            </div>
        </div>
        
        
        
        <div class="form-group col-md-12" style="text-align: center; border-top:1px solid #f0f0f0; padding-top:1%" *ngIf="updform.selectAbnormal_Spontaneous === 'Spontaneous Echo Contrast-Present'">
          <label class="head-title" >Spontaneous Echo Contrast-Present</label>
        </div>
        <div class="form-row"  *ngIf="updform.selectAbnormal_Spontaneous === 'Spontaneous Echo Contrast-Present' "> 
          <div class="form-group col-md-4">
          <label> Spontaneous Echo Contrast-Degree</label>
        <select [(ngModel)]="updform.selectContrast_Degree" class="form-control" name="selectContrast_Degree" placeholder="select" (ngModelChange)="onOptionsSelected('Contrast_Degree',updform.selectContrast_Degree)">
          <option [ngValue]="undefined"> Not Applicable(N/A)</option>
          <option *ngFor="let sta of dataabnormalspontaneouspresentdegree" [ngValue]="sta.itemName">{{sta.itemName}}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
        <label>Spontaneous Echo Contrast-Persistence </label>
        <select [(ngModel)]="updform.selectContrast_Persistence" class="form-control" name="selectContrast_Persistence" placeholder="select" (ngModelChange)="onOptionsSelected('Contrast_Persistence',updform.selectContrast_Persistence)">
          <option [ngValue]="undefined"> Not Applicable(N/A)</option>
          <option *ngFor="let sta of dataabnormalspontaneouspresentpersistence" [ngValue]="sta.itemName">{{sta.itemName}}</option>
        </select>
        </div>
        <div class="form-group col-md-4">
        <label>Spontaneous Echo Contrast-Location </label>
        <select [(ngModel)]="updform.selectContrast_Location" class="form-control" name="selectContrast_Location" placeholder="select" (ngModelChange)="onOptionsSelected('Contrast_Location',updform.selectContrast_Location)">
          <option [ngValue]="undefined"> Not Applicable(N/A)</option>
          <option *ngFor="let sta of dataabnormalspontaneouspresentlocation" [ngValue]="sta.itemName">{{sta.itemName}}</option>
        </select>
        </div>
        
        </div>

        <div id="overlay">
          <div class="loader"></div>
                  
         </div> 
         
        <div class="form-row"   >
          <div class="form-group col-md-2" ></div>
          <div class="form-group col-md-2" >
            <button type="button" class="btn btn-warning  btn-block" onclick="$('#tabfour').trigger('click')" 
            (click)="getAddPage('leftAtriumObservation')"  >Previous</button>
          </div>
          <div class="form-group col-md-2" >
            <button type="submit" class="btn btn-primary  btn-block" id="btnSubmit" >Submit</button>
          </div>
          <div class="form-group col-md-2" >
            <button type="button" class="btn btn-danger  btn-block" onclick="$('#tabsix').trigger('click')" 
            (click)="getAddPage('mitralValveObservation')"  >Next</button>
          </div>
          <div class="form-group col-md-4" ></div>
        </div> 


      </div>
    
  
  </div>

</div>



</form>
  

