<form  name="observationsForm"   #observationsForm="ngForm" (ngSubmit)="savePulmonaryArteryData()"  >
  <div class="observe">
    <div id="container">
      <h3 class="head-title"> Type: Pulmonary Artery Observations </h3> 
  
      <div class="total-container">

        <div class="form-row">
          
          <div class="form-group col-md-4">
              <label>Pulmonary Artery Observations </label>
          <select [(ngModel)]="updform.selectObservation"  class="form-control" name="selectObservation" placeholder="select" 
          (ngModelChange)="onOptionsSelected('Observation',updform.selectObservation)">
         <option [ngValue]="undefined"> Not Applicable(N/A)</option>  
              <option *ngFor="let sta of observation" [ngValue]="sta.itemName">{{sta.itemName}}</option>
          </select>
         </div>
         <div class="form-group col-md-4" *ngIf="updform.selectObservation === 'Estimated pulmonary artery systolic pressure'">
          <label>Estimated pulmonary artery systolic pressure  </label>
         <input class="form-control" id="Dimensions" name="Dimensions"type=text
         placeholder="Estimated pulmonary artery systolic pressure" [(ngModel)]="updform.Dimensions"
         #Dimensions="ngModel"/>
          </div>
         <!-- <div class="form-group col-md-12" > -->
         <div class="form-group col-md-4"  >
          <label>Pulmonary Artery Dialated </label>
      <select [(ngModel)]="updform.selectDilated"  class="form-control" name="selectDilated" placeholder="select" 
      (ngModelChange)="onOptionsSelected('Dilated',updform.selectDilated)">
     <option [ngValue]="undefined"> Not Applicable(N/A)</option>
          <option *ngFor="let sta of dilated" [ngValue]="sta.itemName">{{sta.itemName}}</option>
      </select>
        </div>
        <div class="form-group col-md-4" >
          <label>Pulmonary Artery Suspectthromboembolism </label>
      <select [(ngModel)]="updform.selectSuspect_Thromboembolism"  class="form-control" name="selectSuspect_Thromboembolism" placeholder="select" 
      (ngModelChange)="onOptionsSelected('Suspect_Thromboembolism',updform.selectSuspect_Thromboembolism)">
     <option [ngValue]="undefined"> Not Applicable(N/A)</option>
          <option *ngFor="let sta of Suspectthromboembolism" [ngValue]="sta.itemName">{{sta.itemName}}</option>
      </select>
        </div>
        <div class="form-group col-md-4"  >
          <label>Pulmonary Artery Pulmonary hypertension </label>
      <select [(ngModel)]="updform.selectHypertension"  class="form-control" name="selectHypertension" placeholder="select" 
      (ngModelChange)="onOptionsSelected('Hypertension',updform.selectHypertension)">
     <option [ngValue]="undefined"> Not Applicable(N/A)</option>
          <option *ngFor="let sta of pulmonaryhypertension" [ngValue]="sta.itemName">{{sta.itemName}}</option>
      </select>
        </div>
        <div class="form-group col-md-4"  >
          <label>Pulmonary Artery Pulmonary branch stenosis </label>
      <select [(ngModel)]="updform.selectStenosis"  class="form-control" name="selectStenosis" placeholder="select" 
      (ngModelChange)="onOptionsSelected('Stenosis',updform.selectStenosis)">
     <option [ngValue]="undefined"> Not Applicable(N/A)</option>
          <option *ngFor="let sta of Pulmonarybranchstenosis" [ngValue]="sta.itemName">{{sta.itemName}}</option>
      </select>
        </div>
        <div class="form-group col-md-4"  >
          <label>Pulmonary Artery Patent ductusarteriosus </label>
      <select [(ngModel)]="updform.selectDuctusarteriosus"  class="form-control" name="selectDuctusarteriosus" placeholder="select" 
      (ngModelChange)="onOptionsSelected('Ductusarteriosus',updform.selectDuctusarteriosus)">
     <option [ngValue]="undefined"> Not Applicable(N/A)</option>
          <option *ngFor="let sta of Patentductusarteriosus" [ngValue]="sta.itemName">{{sta.itemName}}</option>
      </select>
        </div>
        
      </div>

      <div id="overlay">
        <div class="loader"></div>
                
       </div> 

      <div class="form-row"   >
        <div class="form-group col-md-2" ></div>
        <div class="form-group col-md-2" >
          <button type="button" class="btn btn-warning  btn-block" onclick="$('#tabseven').trigger('click')"  
          (click)="getAddPage('tricuspidValveObservation')" >Previous</button>
        </div>
        <div class="form-group col-md-2" >
          <button type="submit" class="btn btn-primary  btn-block" id="btnSubmit" >Submit</button>
        </div>
        <div class="form-group col-md-2" >
          <button type="button" class="btn btn-danger  btn-block" onclick="$('#tabnine').trigger('click')"  
          (click)="getAddPage('pulmonicValveObservation')"  >Next</button>
        </div>
        <div class="form-group col-md-4" ></div>
      </div>
      
      </div>
      </div>
    
  </div>
  
  
  </form>
  
  
  

