<form  name="observationsForm"   #observationsForm="ngForm" (ngSubmit)="savePulmonaryArteryData()"  >
    <div class="observe">
      <div id="container">
        <h3 class="head-title"> Type: Pulmonary Artery </h3> 

        <div class="form-row"   >
    
        <section class="left-column">
    
          <div class="form-group">
            
            <div class="form-group col-md-11">
                <label>Observations </label>
            <select [(ngModel)]="selectedObsevation"  class="form-control" name="selectedObsevation" placeholder="select" 
            (ngModelChange)="onOptionsSelected('pulmonaryArtery',selectedObsevation)">
                <option *ngFor="let sta of data" [ngValue]="sta.value">{{sta.value}}</option>
            </select>
           </div>
         
          </div>
        </section>  
        <section class="right-column">

        </section>         
        </div>
        </div>
      
    </div>
    
    <div class="form-row"   >
      <div class="form-group col-md-3" ></div>
      <div class="form-group col-md-3" >
        <button type="submit" class="btn btn-primary  btn-block" id="btnSubmit" >Submit</button>
      </div>
      <div class="form-group col-md-3" >
        <button type="button" class="btn btn-danger  btn-block" >Next</button>
      </div>
      <div class="form-group col-md-3" ></div>
    </div> 
    

   

    </form>
    
    
    

