<form  name="observationsForm"   #observationsForm="ngForm"  (ngSubmit)="saveAortaitemNameData()">
  <div class="observe">
    <div id="container">
      <h3 class="head-title"> TYPE : AORTA </h3> 
      <div class="total-container">
        <div class="form-row">
         

          <div class="form-group col-md-4" >
            <label> Dialation </label>               
            <select [(ngModel)]="updform.selectDialation" name="selectDialation" id="selectDialation"   
            (ngModelChange)="onOptionsSelected('Dialation',updform.selectDialation)" class="form-control">
             <option [ngValue]="undefined"> Not Applicable(N/A)</option>
            <option *ngFor="let sta of dialation" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>
          </div>

          <div class="form-group col-md-4"  >
            <label> Aneurysm </label>               
            <select [(ngModel)]="updform.selectAneurysm" name="selectAneurysm" id="selectAneurysm"   
            (ngModelChange)="onOptionsSelected('Aneurysm',updform.selectAneurysm)" class="form-control">
             <option [ngValue]="undefined"> Not Applicable(N/A)</option>
            <option *ngFor="let sta of aneurysm" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>
          </div>
          

          <div class="form-group col-md-4" *ngIf="updform.selectAneurysm === 'Aneurysm-Location-Transverse and descending aorta'"  >
            <label for="AneurysmLocationTransverseAndDescendingAorta">Dimensions</label>
            <input type="text" id="AneurysmLocationTransverseAndDescendingAorta" name="AneurysmLocationTransverseAndDescendingAorta" class="form-control"                 
            placeholder="Dimensions" [(ngModel)]="updform.AneurysmLocationTransverseAndDescendingAorta" 
            #AneurysmLocationTransverseAndDescendingAorta="ngModel"  >

          </div>
        </div>
        <div class="form-row" style="text-align: center; padding-top:1%; border-top:1px solid #f0f0f0;"
             >
          <div class="form-group col-md-12">
          <label class="head-title">TYPE : PLAQUE</label>               
          </div>                                                    
        </div>


        <div class="form-row">
             

          <div class="form-group col-md-4"  >
            <label> Plaque : Location </label>               
            <select [(ngModel)]="updform.selectPlaquelocation" name="selectPlaquelocation" id="selectPlaquelocation"   
            (ngModelChange)="onOptionsSelected('Plaquelocation',updform.selectPlaquelocation)" class="form-control">
             <option [ngValue]="undefined"> Not Applicable(N/A)</option>
            <option *ngFor="let sta of plaqueLocation" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>
          </div>

          <div class="form-group col-md-4"  >
            <label> Plaque : Characteristics </label>               
            <select [(ngModel)]="updform.selectPlaquecharacteristics" name="selectPlaquecharacteristics" id="selectPlaquecharacteristics"   
            (ngModelChange)="onOptionsSelected('Plaquecharacteristics',updform.selectPlaquecharacteristics)" class="form-control">
             <option [ngValue]="undefined"> Not Applicable(N/A)</option>
            <option *ngFor="let sta of plaqueCharacteristics" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>
          </div>

          <div class="form-group col-md-4"  >
            <label> Plaque : Size </label>               
            <select [(ngModel)]="updform.selectPlaquesize" name="selectPlaquesize" id="selectPlaquesize"   
            (ngModelChange)="onOptionsSelected('Plaquesize',updform.selectPlaquesize)" class="form-control">
             <option [ngValue]="undefined"> Not Applicable(N/A)</option>
            <option *ngFor="let sta of plaqueSize" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>
          </div>

          <div class="form-group col-md-4" *ngIf="updform.selectPlaquesize=== 'Plaque-Size-Large'"  >
            <label for="PlaqueSizeLarge">Dimensions</label>
            <input type="text" id="PlaqueSizeLarge" name="PlaqueSizeLarge" class="form-control"                 
            placeholder="Dimensions" [(ngModel)]="updform.PlaqueSizeLarge" 
            #PlaqueSizeLarge="ngModel"  >
          </div>

          <div class="form-group col-md-4"  >
            <label> Plaque : Mobility </label>               
            <select [(ngModel)]="updform.selectPlaquemobility" name="selectPlaquemobility" id="selectPlaquemobility"   
            (ngModelChange)="onOptionsSelected('PlaqueMobility',updform.selectPlaquemobility)" class="form-control">
             <option [ngValue]="undefined"> Not Applicable(N/A)</option>
            <option *ngFor="let sta of plaqueMobility" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>
          </div>

        </div>

        <div class="form-row" style="text-align: center; padding-top:1%; border-top:1px solid #f0f0f0;"
             >
          <div class="form-group col-md-12">
          <label class="head-title">TYPE : GRAFT</label>               
          </div>                                                    
        </div>
      
        <div class="form-row">
         

          <div class="form-group col-md-4"  >
            <label> Graft : Type </label>               
            <select [(ngModel)]="updform.selectGrafttype" name="selectGrafttype" id="selectGrafttype"   
            (ngModelChange)="onOptionsSelected('Grafttype',updform.selectGrafttype)" class="form-control">
             <option [ngValue]="undefined"> Not Applicable(N/A)</option>
            <option *ngFor="let sta of graftType" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>
          </div>

          <div class="form-group col-md-4"  >
            <label> Graft : Location </label>               
            <select [(ngModel)]="updform.selectGraftLocation" name="selectGraftLocation" id="selectGraftLocation"   
            (ngModelChange)="onOptionsSelected('GraftLocation',updform.selectGraftLocation)" class="form-control">
             <option [ngValue]="undefined"> Not Applicable(N/A)</option>
            <option *ngFor="let sta of graftLocation" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>
          </div>
        </div>

        <div class="form-row" style="text-align: center; padding-top:1%; border-top:1px solid #f0f0f0;"
             >
          <div class="form-group col-md-12">
          <label class="head-title">TYPE : DISSECTION</label>               
          </div>                                                    
        </div>

      
        <div class="form-row">

         

          <div class="form-group col-md-4"  >
            <label> Dissection : Location </label>               
            <select [(ngModel)]="updform.selectDissectionLocation" name="selectDissectionLocation" id="selectDissectionLocation"   
            (ngModelChange)="onOptionsSelected('DissectionLocation',updform.selectDissectionLocation)" class="form-control">
             <option [ngValue]="undefined"> Not Applicable(N/A)</option>
            <option *ngFor="let sta of dissectionLocation" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>
          </div>

          <div class="form-group col-md-4"  >
            <label> Dissection : Entry site </label>               
            <select [(ngModel)]="updform.selectDissectionEntrySite" name="selectDissectionEntrySite" id="selectDissectionEntrySite"   
            (ngModelChange)="onOptionsSelected('DissectionEntrySite',updform.selectDissectionEntrySite)" class="form-control">
             <option [ngValue]="undefined"> Not Applicable(N/A)</option>
            <option *ngFor="let sta of dissectionEntrySite" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>
          </div>

          <div class="form-group col-md-4"  >
            <label> Dissection : Exit Point </label>               
            <select [(ngModel)]="updform.selectDissectionExitPoint" name="selectDissectionExitPoint" id="selectDissectionExitPoint"   
            (ngModelChange)="onOptionsSelected('DissectionExitPoint',updform.selectDissectionExitPoint)" class="form-control">
             <option [ngValue]="undefined"> Not Applicable(N/A)</option>
            <option *ngFor="let sta of dissectionExitPoint" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>
          </div>

          <div class="form-group col-md-4" *ngIf="updform.selectDissectionExitPoint=== 'Dissection-Exit Point-Descending Aorta-Multiple'"  >
            <label for="DissectionExitPoint">Describe</label>
            <input type="text" id="DissectionExitPointDescendingAortaMultiple" name="DissectionExitPointDescendingAortaMultiple" class="form-control"                 
            placeholder="Describe" [(ngModel)]="updform.DissectionExitPointDescendingAortaMultiple" 
            #DissectionExitPointDescendingAortaMultiple="ngModel"  >
          </div>

          <div class="form-group col-md-4"  >
            <label> Dissection : False Lumen</label>               
            <select [(ngModel)]="updform.selectDissectionFalseLumen" name="selectDissectionFalseLumen" id="selectDissectionFalseLumen"   
            (ngModelChange)="onOptionsSelected('DissectionFalseLumen',updform.selectDissectionFalseLumen)" class="form-control">
             <option [ngValue]="undefined"> Not Applicable(N/A)</option>
            <option *ngFor="let sta of dissectionFalseLumen" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>
          </div>

          <div class="form-group col-md-4"  >
            <label> Dissection : Intramural Hematoma</label>               
            <select [(ngModel)]="updform.selectDissectionIntramuralHematoma" name="selectDissectionIntramuralHematoma" id="selectDissectionIntramuralHematoma"   
            (ngModelChange)="onOptionsSelected('DissectionIntramuralHematoma',updform.selectDissectionIntramuralHematoma)" class="form-control">
             <option [ngValue]="undefined"> Not Applicable(N/A)</option>
            <option *ngFor="let sta of dissectionIntramuralHematoma" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>
          </div>

          <div class="form-group col-md-4"  >
            <label> Dissection : Classification</label>               
            <select [(ngModel)]="updform.selectDissectionClassification" name="selectDissectionClassification" id="selectDissectionClassification"   
            (ngModelChange)="onOptionsSelected('DissectionClassification',updform.selectDissectionClassification)" class="form-control">
             <option [ngValue]="undefined"> Not Applicable(N/A)</option>
            <option *ngFor="let sta of dissectionClassification" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>
          </div>

          <div class="form-group col-md-4" *ngIf="updform.selectDissectionClassification === 'Dissection-Classification-Other (Specify)'"  >
            <label for="DissectionClassification">Other's Specify</label>
            <input type="text" id="DissectionClassificationOthersSpecify" name="DissectionClassificationOthersSpecify" class="form-control"                 
            placeholder="OthersSpecify" [(ngModel)]="updform.DissectionClassificationOthersSpecify" 
            #DissectionClassificationOther(Specify)="ngModel"  >
          </div>

        </div>

        <div class="form-row" style="text-align: center; padding-top:1%; border-top:1px solid #f0f0f0;"
             >
          <div class="form-group col-md-12">
          <label class="head-title">TYPE : COARCTATION</label>               
          </div>                                                    
        </div>


        <!-- <h3 class="head-title">TYPE : COARCTATION</h3> -->
        <div class="form-row">

          <div class="form-group col-md-4"  >
            <label> Coartation </label>               
            <select [(ngModel)]="updform.selectCoarctation" name="selectCoarctation" id="selectCoarctation"   
            (ngModelChange)="onOptionsSelected('Coarctation',updform.selectCoarctation)" class="form-control">
             <option [ngValue]="undefined"> Not Applicable(N/A)</option>
            <option *ngFor="let sta of coarctation" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>
          </div>

          <div class="form-group col-md-4" *ngIf="updform.selectCoarctation=== 'Coarctation-Minimal diameter'"  >
            <label for="CoarctationMinimalDiameter">Describe</label>
            <input type="text" id="CoarctationMinimalDiameter" name="CoarctationMinimalDiameter" class="form-control"                 
            placeholder="Describe" [(ngModel)]="updform.CoarctationMinimalDiameter" 
            #CoarctationMinimalDiameter="ngModel"  >
          </div>

          <div class="form-group col-md-4" *ngIf="updform.selectCoarctation=== 'Coarctation-Peak gradient'"  >
            <label for="CoarctationPeakGradient">Describe</label>
            <input type="text" id="CoarctationPeakGradient" name="CoarctationPeakGradient" class="form-control"                 
            placeholder="Describe" [(ngModel)]="updform.CoarctationPeakGradient" 
            #CoarctationPeakGradient="ngModel"  >
          </div>

          <div class="form-group col-md-4" *ngIf="updform.selectCoarctation === 'Coarctation-Location'">
            <label> Coarctation : Location</label>               
            <select [(ngModel)]="updform.selectCoarctationLocation" name="selectCoarctationLocation" id="selectCoarctationLocation"   
            (ngModelChange)="onOptionsSelected('CoarctationLocation',updform.selectCoarctationLocation)" class="form-control">
             <option [ngValue]="undefined"> Not Applicable(N/A)</option>
            <option *ngFor="let sta of coarctationLocation" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>
          </div>
        </div>


        <div class="form-row">

          

          <div class="form-group col-md-4"  >
            <label> Transposition </label>               
            <select [(ngModel)]="updform.selectTransposition" name="selectTransposition" id="selectTransposition"   
            (ngModelChange)="onOptionsSelected('Transposition',updform.selectTransposition)" class="form-control">
             <option [ngValue]="undefined"> Not Applicable(N/A)</option>
            <option *ngFor="let sta of transposition" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>
          </div>

          

          
        </div>
        <div class="form-row">

        

          <div class="form-group col-md-4"  >
            <label> Corrected Transposition </label>               
            <select [(ngModel)]="updform.selectCorrectedTransposition" name="selectCorrectedTransposition" id="selectCorrectedTransposition"   
            (ngModelChange)="onOptionsSelected('CorrectedTransposition',updform.selectCorrectedTransposition)" class="form-control">
             <option [ngValue]="undefined"> Not Applicable(N/A)</option>
            <option *ngFor="let sta of correctedTransposition" [ngValue]="sta.itemName">{{sta.itemName}}</option>
            </select>
          </div>          

        </div>
        
      </div>        

      <div class="form-row"   >
        <div class="form-group col-md-2" ></div>

        <div class="form-group col-md-2" >
          <button type="button" class="btn btn-warning  btn-block" onclick="$('#tabnine').trigger('click')" 
            (click)="getAddPage('pulmonicValveObservation')"  >Previous</button>
        </div>
        <div class="form-group col-md-2" >
          <button type="submit" class="btn btn-primary  btn-block" id="btnSubmit" >Submit</button>
        </div>
        <div class="form-group col-md-2" >
          <button type="button" class="btn btn-danger  btn-block" onclick="$('#tabeleven').trigger('click')"
          (click)="getAddPage('pericardiumObservation')"  >Next</button>
        </div>
        <div class="form-group col-md-4" ></div>
      </div> 
    </div>
  </div>
</form>
  
  
  